//-------------------------------------------------------
//- Modules :: Button
//-------------------------------------------------------

mixin buttons({ text, type, iconBefore, iconAfter, disabled, size, isFull })
  button.btn.button(
    type= 'button'
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= isFull ? 'button--full' : null
    class= disabled ? 'button--disabled' : null
    disabled= disabled ? 'disabled' : null
  )&attributes(attributes)
    if iconBefore
      i(class= iconBefore)
    | #{text}
    if iconAfter
      i(class= iconAfter)

mixin buttons-link({text, href, type, size, isFull})
  a.btn.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= isFull ? 'button--full' : null
    href= href ? href : '#'
  )&attributes(attributes)
    | #{text}

