//-------------------------------------------------------
//- Modules :: Button
//-------------------------------------------------------

mixin buttons({ text, type, iconFont, disabled, size, isFull })
  button.btn.button(
    type= 'button'
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= isFull ? 'button--full' : null
    class= disabled ? 'button--disabled' : null
    disabled= disabled ? 'disabled' : null
  )&attributes(attributes)
    | #{text}
    if iconFont
      i(class= iconFont)
