//-------------------------------------------------------
//- Modules :: Radio
//-------------------------------------------------------
mixin group-input-radio({name, id, label, disabled, isValid, isInValid, desc, noticeError, checked})
  .form-group.input-radio-custom()&attributes(attributes)
    input.input-radio(
      type= 'radio'
      name= name ? `${name}` : null
      id= id ? `${id}` : null
      checked= checked ? 'checked' : null
      disabled= disabled ? 'disabled' : null
      class= isValid ? 'input-radio--valid' : null
      class= isInValid ? 'input-radio--invalid' : null
    )
    label(for= id ? `${id}` : null)
      | #{label}
    block
    if desc
      .input-desc
        | #{desc}
    if noticeError
      .error-notice
        i.fa.fa-exclamation-circle.fa-fw
        | #{noticeError}

mixin group-input-radio-dropdown({name, id, label, value, checked, date, time, flatpickr})
  .form-group.input-radio-dropdown&attributes(attributes)
    input.input-radio(
      type= 'radio'
      name= name ? `${name}` : null
      value= value ? `${value}` : null
      id= id ? `${id}` : null
      checked= checked ? 'checked' : null
    )
    label.label-radio(for=id)
      if date
        span.label-radio__date= date
      if time
        span.label-radio__time= time
    if flatpickr
      +group-input-field-readonly({flatpickr: true})