//-------------------------------------------------------
//- Modules :: Selectbox
//-------------------------------------------------------

//- Select option
mixin selectbox({ id, options, size, disabled, isValid, isInvalid, noticeError})
  .form-group&attributes(attributes)
    label(
      for= id ? id : null
    )= label
    select.custom-select(
      id= id ? id : null
      class=size ? `custom-select--${size}` : null
      class= isValid ? 'is-valid' : null
      class= isInvalid ? 'is-invalid' : null
      disabled= disabled ? disabled : null
    )&attributes(attributes)
      each option, index in options
        option(
          value=option.value
          selected = option.selected ? 'selected' : null
        )= option.display
    if (isInvalid)
      .invalid-feedback
        i(class= 'fa fa-exclamation-circle fa-fw')
        | #{noticeError}

