//-------------------------------------------------------
//- Modules :: Switch
//-------------------------------------------------------
    
mixin switcher-radio({ name })
  label.switcher-control
    input.switcher-input(
      type='radio',
      name= name
    )
    span.switcher-indicator

mixin switcher({isSwitcherRadio, name, disabled, isOn, type, size, onIcon, offIcon, onText, offText})
  label.custom-switcher(
    class= type ? `custom-switcher--${type}` : null
    class= size ? `custom-switcher--${size}` : null
  )
    input.switcher-input(
      type= isSwitcherRadio ? 'radio' : 'checkbox'
      name= name ? `${name}` : null
      checked= isOn ? 'checked' : null
      disabled= disabled ? 'disabled' : null
    )
    span.switcher-indicator
    if (onIcon || onText)
      span.switcher-label--on
        if onIcon
          i(class= onIcon ? `${onIcon}` : null)
        else
          | #{onText}
    if (offIcon || offText)
      span.switcher-label--off
        if offIcon
          i(class= offIcon ? `${offIcon}` : null)
        else
          | #{offText}
