//-------------------------------------------------------
//- Modules :: Textarea
//-------------------------------------------------------

//- Textarea
mixin textarea({ label, id, required, badge, textLabel, placeholder, rows })
  .form-group.form-customize.form-textarea&attributes(attributes)
    label(
      for= id ? id : null
      class= textLabel ? 'd-flex justify-content-between' : null
    )= label
      if required
        abbr(title="Required") *
      if badge
        span.badge(
          class= (badge == "Required") ? 'badge--danger' : 'badge--secondary'
        )= badge
      if textLabel
        span.label__text.text-muted= textLabel
    textarea.form-control.form-control--textarea(
      placeholder= placeholder ? placeholder : null
      id= id ? id : null
      rows= rows ? rows : null
    )
