//-------------------------------------------------------
//- Modules :: Menu
//-------------------------------------------------------

mixin main-menu(cat,href)
  ul.navbar-nav.js-navbar-nav
    each item in menus
      li.nav-item.level1(
        class=item.submenu ? 'nav-item--has-children' : '', 
        class=(item.text == cat) ? 'nav-item--active' : '',
      )
        a.nav-link(
          href= (item.submenu === false) ? (item.href ? item.href : "javascript:void(0)") : (item.href ? `#${item.href}` : "javascript:void(0)")
          data-toggle="collapse"
          aria-expanded= item.expanded ? "true" : "false"
          aria-controls= item.href
          role="button"
        )
          i.nav-icon(class= item.icon)
          span.nav-text= item.text
          if item.badge
            span.badge.ml-auto(class= `badge--${item.badge.type}`)= item.badge.text
        if item.submenu
          .collapse(
            id= item.href,
            class=(item.text == cat) ? "show" : "",
            data-parent="#menu-sidebar"
          )
            ul.nav.flex-column
              each sub in item.submenu
                li.nav-item.level2(
                  class=sub.childmenu ? 'nav-item--has-children' : '',
                  class= (sub.href== href) ? 'nav-item--active' : ''
                )
                  if sub.childmenu
                    a.nav-link(
                      href="#"+ sub.href
                      data-toggle="collapse"
                      aria-expanded=(item.href == href) ? "true" : "false"
                      aria-controls=sub.href
                      role="button"
                    )
                      span.nav-text=sub.text
                  else
                    a.nav-link(href= sub.href)
                      span.nav-text=sub.text

                  if sub.childmenu
                    .collapse(id= sub.href)
                      ul.nav.flex-column
                        each child in sub.childmenu
                          li.level3.nav-item(
                            class= child.active ? 'nav-item--active' : ''
                          )
                            a.nav-link(
                              href= child.href ? child.href : '#!'
                            )= child.text

mixin sub-menu()
  h3.navbar-heading Interfaces
  ul.navbar-nav.js-navbar-nav
    each item in interfaces
      li.nav-item.level1(
        class=item.submenu ? 'nav-item--has-children' : '', 
        class=item.active ? 'nav-item--active' : ''
      )
        a.nav-link(
          href="#"+ item.href
          data-toggle="collapse"
          aria-expanded= item.expanded ? "true" : "false"
          aria-controls=item.href
          role="button"
        )
          i.nav-icon(class= item.icon)
          span.nav-text= item.text

        if item.submenu
          .collapse(
            id= item.href, 
            class= item.active ? "show" : "",
            data-parent="#menu-sidebar"
          )
            ul.nav.flex-column
              each sub in item.submenu
                li.nav-item.level2(
                  class=sub.childmenu ? 'nav-item--has-children' : '',
                  class= sub.active ? 'nav-item--active' : ''
                )
                  if sub.childmenu
                    a.nav-link(
                      href="#"+ sub.href
                      data-toggle="collapse"
                      aria-expanded="false"
                      aria-controls=sub.href
                      role="button"
                    )=sub.text
                  else
                    a.nav-link(href= sub.href ? sub.href : '#!')=sub.text

                  if sub.childmenu
                    .collapse(id= sub.href)
                      ul.nav.flex-column
                        each child in sub.childmenu
                          li.level3.nav-item(
                            class= child.active ? 'nav-item--active' : '',
                            class= child.grandchild ? 'nav-item--has-children' : ''
                          )
                            if child.grandchild
                              a.nav-link(
                                href="#"+ child.href
                                data-toggle="collapse"
                                aria-expanded="false"
                                aria-controls=child.href
                                role="button"
                              )=child.text
                            else
                              a.nav-link(href= child.href ? child.href: '#!')=child.text
                            if child.grandchild
                              .collapse(id= child.href)
                                ul.navflex-column
                                  each grandchild in child.grandchild
                                    li.level4.nav-item(
                                      class= grandchild.active ? 'nav-item--active' : '',
                                    )
                                      a.nav-link(href= grandchild.href ? grandchild.href : '#')=grandchild.text
