//-------------------------------------------------------
//- Styleguides :: Buttons
//-------------------------------------------------------
-
  var buttonType = ['primary', 'secondary', 'plight', 'light'];
-
  var buttonSize = ['xsmall', 'small', 'medium', 'large'];
h3 Buttons Type
.row
  each val, index in buttonType
    .col-lg-3.col-md-6.col-12
      .code-example
        .demo
          +buttons({ text: 'Button', type: val })
        pre
          code
            | +buttons({
            |   text: 'Button',
            |   type: '#{val}' 
            | })

h3 Button Disable
.row
  each val, index in buttonType
    .col-lg-3.col-md-6.col-12
      .code-example
        .demo
          +buttons({ text: 'Disabled', type: val, disabled: 'disabled' })
        pre
          code
            | +button({
            |   text: 'Disabled', 
            |   disabled: 'disabled',
            |   type: '#{val}'
            | })

h3 Button Size
.row
  each val, btnIndex in buttonSize
    each item, typeIndex in buttonType
      .col-lg-3.col-md-6.col-12
        .code-example
          .demo
            +buttons({ text: 'Button', type: item, size: val })
          pre
            code
              | +button({
              |   text: 'Button',
              |   type: '#{item}',
              |   size: '#{val}' 
              | })

h3 Button Icon
.row
  each val, index in buttonType
    .col-lg-3.col-md-6.col-12
      .code-example
        .demo
          +buttons({ text: 'This Button', type: val, iconAfter: 'fa fa-fw fa-caret-down'})
        pre
          code
            | +button({
            |   text: 'This Week', 
            |   type: '#{val}'
            |   iconAfter: 'fa fa-fw fa-caret-down'
            | })
  each val, index in buttonType
    .col-lg-3.col-md-6.col-12
      .code-example
        .demo
          +buttons({ text: 'This Button', type: val, size: 'small', iconAfter: 'fa fa-fw fa-caret-down'})
        pre
          code
            | +button({
            |   text: 'This Week', 
            |   type: '#{val}',
            |   size: 'small',
            |   iconAfter: 'fa fa-fw fa-caret-down'
            | })

h3 Button Full size
.row
  each val, index in buttonType
    .col-lg-3.col-md-6.col-12
      .code-example
        .demo
          +buttons({ text: 'Button', type: val, size: 'large', isFull: true })
        pre
          code
            | +button({
            |   text: 'Button',
            |   type: '#{val}',
            |   size: 'large',
            |   isFull: true
            | })
