//-------------------------------------------------------
//- Styleguides :: Switch
//-------------------------------------------------------

h3 Switcher Normal
.row
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({ isOn: true})
      pre
        code
          |form.form-customize
          | +switcher({ isOn: true})
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({})
      pre
        code
          |form.form-customize
          | +switcher()
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({ isOn: true, disabled: 'disabled'})
      pre
        code
          |form.form-customize
          | +switcher({ 
          |   isOn: true,
          |   disabled: 'disabled',
          |})
h3 Switcher Type
.row
  each val, index in ['success', 'danger']
    .col-4
      .code-example
        .demo
          form.form-customize
            +switcher({ isOn: true, type: val})
        pre
          code
            |form.form-customize
            | +switcher({
            |   isOn: true,
            |   type: #{val}
            | })
h3 Switcher Size
.row
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({ isOn: true})
      pre
        code
          |form.form-customize
          | +switcher({
          |   isOn: true,
          | })
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({ isOn: true, size: 'large'})
      pre
        code
          |form.form-customize
          | +switcher({
          |   isOn: true,
          |   size: large
          | })
h3 Switcher Icon
.row
  each val, typeIndex in ['success', 'danger']
    .col-4
      .code-example
        .demo
          form.form-customize
            +switcher({
              isOn: true,
              type: val,
              onIcon: 'fas fa-check',
              offIcon: 'fas fa-times'
            })
        pre
          code
            |form.form-customize
            | +switcher({
            |   isOn: true,
            |   type: #{val}
            |   size: 'large'
            |   onIcon: 'fas fa-check'
            |   offIcon: 'fas fa-times'
            | })
.row
  each val, typeIndex in ['success', 'danger']
    .col-4
      .code-example
        .demo
          form.form-customize
            +switcher({ 
              isOn: true,
              type: val,
              size: 'large',
              onIcon: 'fas fa-check',
              offIcon: 'fas fa-times'
            })
        pre
          code
            |form.form-customize
            | +switcher({
            |   isOn: true,
            |   type: #{val}
            |   size: 'large'
            |   onIcon: 'fas fa-check'
            |   offIcon: 'fas fa-times'
            | })
h3 Switcher Text
.row
  each val, typeIndex in ['success', 'danger']
    .col-4
      .code-example
        .demo
          form.form-customize
            +switcher({
              isOn: true,
              type: val,
              onText: 'on',
              offText: 'off'
            })
        pre
          code
            |form.form-customize
            | +switcher({
            |   isOn: true,
            |   type: #{val}
            |   onText: 'on'
            |   offText: 'off'
            | })
.row
  each val, typeIndex in ['success', 'danger']
    .col-4
      .code-example
        .demo
          form.form-customize
            +switcher({
              isOn: true,
              size: 'large',
              type: val,
              onText: 'on',
              offText: 'off'
            })
        pre
          code
            |form.form-customize
            | +switcher({
            |   isOn: true,
            |   type: #{val}
            |   onText: 'on'
            |   offText: 'off'
            | })
h3 Switcher Radio
.row
  .col-4
    .code-example
      .demo
        form.form-customize
          +switcher({
            isSwitcherRadio: true,
            name: 'switchRadio',
            isOn: true
          })
          +switcher({
            isSwitcherRadio: true,
            name: 'switchRadio'
          })
      pre
        code
          |form.form-customize
          |  +switcher({
          |    isSwitcherRadio: true,
          |    name: 'switchRadio',
          |    isOn: true
          |  })
          |  +switcher({
          |    isSwitcherRadio: true,
          |    name: 'switchRadio'
          |  })
