extends ue-02-user-profile

block sidebar
  +sidebar('User','ue-05-user-projects.html')

block menupage
  +menuPage("Projects", "ue-05-user-projects.html")

block content
  .site-content__inner
    header.site-header-bar
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item.active
            a(href="ue-02-user-profile.html")
              i.breadcrumb-icon.mr-2(class= "fa fa-angle-left")
              | Overview
      h2.site-header-bar__title  Projects 
        span.badge.text-small 42 Totals

    .page-projects
      .page-projects__inner
        -
          var listProjects = [
            {
              deadline:' 07 Aug 2018',
              avatar: {
                textAvatar: 'LT',
                bgAvatar: 'dark-purple',
                badgeImg: 'images/team4.jpg'
              },
              title: 'Looper Admin Theme',
              text: 'Progress in 74% - Last update 1d',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+21'
                }
              ],
              budget : '40,000$',
              tasks : '775',
              progress: '74%'
            },
            {
              deadline:' 15 Sep 2018',
              avatar: {
                textAvatar: 'SP',
                bgAvatar: 'indigo',
                badgeImg: 'images/team1.jpg'
              },
              title: 'Smart Paper',
              text: 'Progress in 22% - Last update 2h',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+6'
                }
              ],
              budget : '10,000$',
              tasks : '3090',
              progress: '22%'
            },
            {
              deadline:' 07 Jul 2018',
              avatar: {
                textAvatar: 'OS',
                bgAvatar: 'yellow',
                badgeImg: 'images/team2.png'
              },
              title: 'Online Store',
              text: 'Progress in 99% - Last update 2d',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+42'
                }
              ],
              budget : '100,000$',
              tasks : '100',
              progress: '99%'
            },
            {
              deadline:' 20 Sep 2018',
              avatar: {
                textAvatar: 'BA',
                bgAvatar: 'blue',
                badgeImg: 'images/bootstrap.svg'
              },
              title: 'Booking App',
              text: 'Progress in 35% - Last update 4h',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+8'
                }
              ],
              budget : '5,000$',
              tasks : '209',
              progress: '35%'
            },
            {
              deadline:' 15 Nov 2018',
              avatar: {
                textAvatar: 'SB',
                bgAvatar: 'light-green',
                badgeImg: 'images/sketch.svg'
              },
              title: 'SVG Icon Bundle',
              text: 'Progress in 32% - Last update 1d',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+8'
                }
              ],
              budget : '6,000$',
              tasks : '958',
              progress: '32%'
            },
            {
              deadline:' 18 Aug 2018',
              avatar: {
                textAvatar: 'SP',
                bgAvatar: 'light-purple',
                badgeImg: 'images/team4.jpg'
              },
              title: 'Syrena Project',
              text: 'Progress in 93% - Last update 8h',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+21'
                }
              ],
              budget : '50,000$',
              tasks : '314',
              progress: '93%'
            },
            {
              finished: true,
              avatar: {
                textAvatar: 'MG',
                bgAvatar: 'green',
                badgeImg: 'images/team2.png'
              },
              title: 'Mobile App Gex',
              text: 'Progress in 100% - Last update 1m',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+26'
                }
              ],
              budget : '40,000$',
              tasks : '0'
            },
            {
              finished: true,
              avatar: {
                textAvatar: 'LB',
                bgAvatar: 'red-3',
                badgeImg: 'images/bootstrap.svg'
              },
              title: 'Landing Page Booster',
              text: 'Progress in 100% - Last update 1w',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+2'
                }
              ],
              budget : '1,000$',
              tasks : '0'
            },
            {
              finished: true,
              avatar: {
                textAvatar: 'SB',
                bgAvatar: 'orange-3',
                badgeImg: 'images/team1.jpg'
              },
              title: 'Stilearn Branding',
              text: 'Progress in 100% - Last update 2m',
              avatarGroup: [
                {
                  img: 'images/uifaces6.jpg',
                  name: 'Andrew Kim'
                },
                {
                  img: 'images/uifaces8.jpg',
                  name: 'Bryan Morgan'
                },
                {
                  img: 'images/uifaces7.jpg',
                  name: 'Larry Robinson'
                },
                {
                  img: 'images/uifaces9.jpg',
                  name: 'Beverly Simpson'
                },
                {
                  img: 'images/uifaces10.jpg',
                  name: 'Robinson'
                },
                {
                  imgOther: '+12'
                }
              ],
              budget : '20,000$',
              tasks : '0'
            }
          ]
        .row
          each val in listProjects
            .col-xl-4.col-lg-6.col-12
              .card.card-project
                .card-header
                  .card-header__badge.badge(data-toggle="tooltip" data-placement="bottom" title = (val.finished === undefined) ? "Deadline" : "Finished")
                    i(class = (val.finished === undefined) ? "fa fa-calendar-alt": "fa fa-fw fa-check-circle color--light-green")
                    | #{val.deadline}
                  .card-header__dropdown.dropdown
                    +buttons({
                      type: 'light',
                      iconAfter: 'fa fa-fw fa-ellipsis-v'
                    })(class= "button--circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static")
                    .dropdown-arrow
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href="#!") View Project
                      a.dropdown-item(href="#!") Add Member
                      a.dropdown-item(href="#!") Edit
                      a.dropdown-item(href="#!") Remove
                .card-body.text-center
                  .card-avatar.has-badge
                    a.avatar(href="#!" class = `bg--${val.avatar.bgAvatar}`)= val.avatar.textAvatar
                    .user-avatar.user-avatar--xs
                      img(src= val.avatar.badgeImg, alt="user-avatar")
                  h4.card-title
                    a(href="#!")= val.title
                  p.card-subtitle= val.text
                  .card-group-avatar
                    each item in val.avatarGroup
                      if item.imgOther
                        a(href="#!" class= "avatar avatar--circle member" data-toggle="modal" data-target= "#membersModal")= item.imgOther
                      else
                        a(href="#" class="user-avatar" data-toggle="tooltip" title= item.name)
                          img(src= item.img alt="user-avatar")
                .card-footer.text-center.row
                  .card-footer__item.col-xs-12.col-6
                    strong.card-footer__title Budget
                    .card-footer__count= val.budget
                  .card-footer__item.col-xs-12.col-6
                    strong.card-footer__title Tasks
                    .card-footer__count= val.tasks
                if val.progress
                  .progress.progress-xs(data-toggle="tooltip" title= val.progress )
                    .progress-bar(class= `bg--${val.avatar.bgAvatar}` ole="progressbar" aria-valuenow="2181" aria-valuemin="0" aria-valuemax="100" style= `width: ${val.progress}`)
        +modalMember()
